ul li a {
    color: steelblue;
}
ul li a:hover {
    color: white;
    background-color: steelblue;
}
nav{
    box-shadow: none;
}
blockquote {
    border-left: 5px solid lightblue;

}

fieldset{
    border: 1px solid lightgreen;
    border-radius: 3px;
    padding: 10px;
}
